Hey,
<br><br>
I found your profile on Twitter by searching for freelancers. I know your time is valuable so I'll make this quick. I'm building a service in which I think you might be interested in and I'd like to ask you for an opinion.
<br><br>
It allows freelancers (designers, developers, writers, etc) to accept credit cards payments without any need for coding. Similar to Paypal but with lower fees (our fixed fee + Stripe 2.4%). After you sign up, you'll get a link to the payment form similar to this one <a href="https://www.payzo.io/demo-company">https://www.payzo.io/demo-company</a> (with your own custom url handle) which you can send to your clients to pay you. The service is called Payzo and you can find it at payzo.io.
<br><br>
Do you allow your clients to pay you with a credit card? If not, why? Do you think you would be interested in something like this? Which feature would you like to see for this to be useful to you? What do you think?
<br><br>
Best<br>
Sergey