<nav id="sidebar-navigation">
  <ul>
    <li><a href="#" class="active">Dashboard</a></li>
    <li><a href="#">Payments</a></li>
    <li><a href="#">Plans</a></li>
    <li><a href="#">Subscribers</a></li>
    <li><a href="#">Setings</a></li>
  </ul>
</nav>
